<main fxLayout="row" fxLayoutAlign="space-around center" fxLayoutWrap>
  <md-card class="example-card" *ngFor="let index of indexes">
    <div>
      <div fxLayout="column" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
        <div fxFlex>
    <md-card-header>
      <div md-card-avatar class="ejemplo" style="background-image: url(assets/img/donald-trump.jpg)"></div>
      <md-card-title class="accent-color">Pavel Razgovorov</md-card-title>
      <md-card-subtitle>@paveltrufi</md-card-subtitle>
    </md-card-header>
    <img style="width: 100%; height: auto; margin-top: 2em; " src="assets/img/ensaladaCesar.jpg">
        </div>
        <div fxFlex>
      <md-card-content style="margin-left: 2em; margin-top: 2em;">
        <h3>Ensalada César</h3>
        <p>
          La Ensalada César lleva muy pocos ingredientes (pollo, lechuga, picatostes y queso parmesano fundamentalmente) pero, gracias
          a la Salsa César que preparamos el otro día, el sabor de esta ensalada es realmente estupendo y por eso no necesita
          llevar muchos más ingredientes para conseguir una ensalada estupenda.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-icon-button color="accent" id="favorite"><i class="material-icons">favorite_border</i></button>
        <label for="favorite">23</label>
        <button md-icon-button color="accent" id="comment"><i class="material-icons">comment</i></button>
        <label for="comment">7</label>
        <button md-icon-button color="accent" id="share"><i class="material-icons">share</i></button>
      </md-card-actions>
        </div>
        </div>
    </div>
  </md-card>
</main>