<main fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
  <md-card [routerLink]="['/receta', receta.id]" class="example-card" *ngFor="let receta of recetas">
    <div>
      <div fxLayout="column" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
        <div fxFlex>
    <md-card-header>
      <div md-card-avatar class="ejemplo" style="background-image: url(assets/img/donald-trump.jpg)"></div>
      <md-card-title class="accent-color">Pavel Razgovorov</md-card-title>
      <md-card-subtitle>@paveltrufi</md-card-subtitle>
    </md-card-header>
    <img style="width: 100%; height: auto; margin-top: 2em; " src="assets/img/ensaladaCesar.jpg">
        </div>
        <div fxFlex>
      <md-card-content style="margin-left: 2em; margin-top: 2em;">
        <h3>{{ receta.nombre }}</h3>
        <p>{{ receta.descripcion }}</p>
      </md-card-content>
      <md-card-actions>
        <button md-icon-button color="accent" id="favorite"><i class="material-icons">favorite_border</i></button>
        <label for="favorite">23</label>
        <button md-icon-button color="accent" id="comment"><i class="material-icons">comment</i></button>
        <label for="comment">7</label>
        <button md-icon-button color="accent" id="share"><i class="material-icons">share</i></button>
      </md-card-actions>
        </div>
        </div>
    </div>
  </md-card>
</main>