<div class="wrapper">
  <div class="container1" id="first" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center">
    <div class="left-row">
      <md-card>
        <h1>Cooking Book</h1>
        <h2>Aprende a cocinar conectando con la gente</h2>
      </md-card>
    </div>
    <div class="right-row"></div>
  </div>
  <div class="container2" id="second" fxLayout="column" fxLayoutAlign="start center">
    <md-card style="margin-bottom: 2em;">
      <h1>Una revolucionaria plataforma de recetas de cocina</h1>
    </md-card>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oh6RHZTq5xU" frameborder="0" allowfullscreen></iframe>
    <!--<md-card class="tiles">
      Aquí irán un par de mosaicos en los que pongan las ventajas que se digan en el vídeo pero con un icono y un poco de texto
    </md-card>-->
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-around center"> 
        <div fxFlex>
            <md-card class="cardAdv">
              <img src="assets/img/seguir.svg" style="height: 45%; width: 45%; margin-left: 25%;" alt="social">
              <h1 style="text-align: center;">Eficaz</h1>
              <h3 style="text-align: center;">Ser notificado cada vez que un usuario seguido publica algo nuevo</h3>
            </md-card>
        </div>
        <div fxFlex>
            <md-card class="cardAdv">
              <img src="assets/img/filtrado.svg" style="height: 45%; width: 45%; margin-left: 25%;" alt="social">
              <h1 style="text-align: center;">Ordenado</h1>
              <h3 style="text-align: center;">Capacidad de filtrar y encontrar en todo momento lo que queremos con rapidez</h3>
            </md-card>
        </div>
        <div fxFlex>
            <md-card class="cardAdv">
              <img src="assets/img/social.svg" style="height: 45%; width: 45%; margin-left: 25%;" alt="social">
              <h1 style="text-align: center;">Social</h1>
              <h3 style="text-align: center;">Posibilidad de realizar sugerencias en cada receta</h3>
            </md-card>
        </div>
      </div>
  
</div>