<div class="wrapper">
  <div class="container" id="first" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center">
    <div class="left-row">
      <md-card>
        <h1>Cooking Book</h1>
        <h2>Aprende a cocinar conectando con la gente</h2>
      </md-card>
    </div>
    <div class="right-row"></div>
  </div>
  <div class="container" id="second" fxLayout="column" fxLayoutAlign="start center">
    <md-card>
      <h1>Una revolucionaria plataforma de recetas de cocina</h1>
    </md-card>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oh6RHZTq5xU" frameborder="0" allowfullscreen></iframe>
    <md-card class="tiles">
      Aquí irán un par de mosaicos en los que pongan las ventajas que se digan en el vídeo pero con un icono y un poco de texto
    </md-card>
  </div>
</div>