.wrapper {
    background: url('~/assets/img/header-presentation-blur.jpeg') top left;
    background-size: contain;
}

h1, h2, h3 {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 300;
    margin: 0;
    color: #333;
}

.container1 {
    width: 90%;
    overflow: hidden;
    height: 68em;
    padding: 0 1em 0 1em;
    margin: auto;
    
}
.container2 {
    width: 90%;
    overflow: hidden;
    height: 30em;
    padding: 0 1em 0 1em;
    margin: auto;
}

.container iframe {
    margin: 2em 0 2em 0;
}

.right-row {
    margin-top: 0%;
    width: 25em;
    height: 80%;
    background: url('~/assets/img/iphone_6_filled.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.tiles {
    width: 100%;
}
.cardAdv{
    width: 20em;
    height: 15em;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 1em;
}
@media screen and (max-width: 979px) {
    .left-row {
        margin-top: 15%;
    }
    .right-row {
        height: 60%;
    }
}