<div class="wrapper">
  <div class="container1" id="first" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center">
    <div class="left-row">
      <md-card>
        <h1>Cooking Book</h1>
        <h2>Aprende a cocinar conectando con la gente</h2>
      </md-card>
    </div>
    <div class="right-row"></div>
  </div>
  <div class="container2" id="second" fxLayout="column" fxLayoutAlign="start center">
    <md-card style="margin-bottom: 2em;">
      <h1>Una revolucionaria plataforma de recetas de cocina</h1>
    </md-card>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5WUlSiuGWds" frameborder="0" allowfullscreen></iframe>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-around center">
    <md-card class="cardAdv">
      <img src="assets/img/social.svg" style="height: 45%; width: 45%; margin-left: 25%;" alt="social">
      <h1 style="text-align: center;">Social</h1>
      <h3 style="text-align: center;">Muchas versiones de una misma receta; primero verás las mejores</h3>
    </md-card>
    <md-card class="cardAdv">
      <img src="assets/img/ordered.svg" style="height: 45%; width: 45%; margin-left: 25%;" alt="social">
      <h1 style="text-align: center;">Ordenado</h1>
      <h3 style="text-align: center;">Filtra por dificultad, tiempo, cultura... Encuentra lo que quieras con facilidad</h3>
    </md-card>
    <md-card class="cardAdv">
      <img src="assets/img/remuneration.svg" style="height: 45%; width: 45%; margin-left: 25%;" alt="social">
      <h1 style="text-align: center;">Remunerado</h1>
      <h3 style="text-align: center;">Sistema de compensación por la calidad de tus contenidos</h3>
    </md-card>
  </div>
</div>