md-toolbar img {
    height: 100%;
    width: auto;
}

.right-alignment-toolbar {
  flex: 1 1 auto;
}
.example-card {
  width: 70em;
  height: 30em;
  margin-top: 2em;
  margin-left: 4em;
}

.example-header-image {
  background-image: url('assets/img/ensaladaCesar.jpg');
  background-size: cover;
}

.image-left{
  width: 38%;
  float:left; 
  margin-left: 1em; 
  margin-top: 2em;
}
.text-margin-right{
  margin-top: 2em;
  margin-left: 34em;
}
.action-margin-right{
  margin-top: 2em;
  margin-left: 35em;
}
main {
  margin: 2em;
}

main md-card {
  margin-bottom: 1em;
}

md-card-actions label {
  cursor: pointer;
}