md-toolbar img {
    height: 150%;
    width: auto;
}

.right-alignment-toolbar {
  flex: 1 1 auto;
}

#menu-toggle {
  display: none;
}

#horizontal-menu { display: inherit; }

@media screen and (max-width: 768px) {
    #menu-toggle { display: inherit; }
    #horizontal-menu { display: none }
}