<md-card class="example-card">
    <div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"> 
      <div fxFlex style="margin-right: 5em">
    <md-card-header>
      <img style="border-radius: 50%;" height="50em" width="50em" md-card-avatar src="../assets/img/donald-trump.jpg">
      <md-card-title class="accent-color">Pavel Razgovorov</md-card-title>
      <md-card-subtitle>@paveltrufi</md-card-subtitle>
    </md-card-header>
    
        <img md-card-image class="image-left" src="../assets/img/ensaladaCesar.jpg">
      </div>
      <div fxFlex>
      <md-card-content>
      
        <md-tab-group>
          <md-tab label="Instrucciones">
            <h3>{{ receta.nombre }}</h3>
            <p>
              {{ receta.descripcion }}
            </p>
          </md-tab>
          <md-tab label="Autor">
            <h3>{{receta.autor}}</h3>
            <p>
              {{receta.biografia}}
            </p>
          </md-tab>
          <md-tab label="Reacciones">
            <h3>Comentarios y valoraciones</h3>
            <p>
              {{receta.comentarios}}
            </p>
          </md-tab>
        </md-tab-group>
      
    
      </md-card-content>
      </div>
    </div>
    </div>
    <!--<md-card-actions class="action-margin-right">
      <button md-icon-button color="accent" id="favorite"><i class="material-icons">favorite_border</i></button>
      <label for="favorite">23</label>
      <button md-icon-button color="accent" id="comment"><i class="material-icons">comment</i></button>
      <label for="comment">7</label>
      <button md-icon-button color="accent" id="share"><i class="material-icons">share</i></button>
    </md-card-actions>-->
  </md-card>
