md-toolbar img {
    height: 150%;
    width: auto;
}

.right-alignment-toolbar {
  flex: 1 1 auto;
}
.example-card {
  margin-bottom: 3em;
  width: 80%;
  margin: auto;
}

.example-image {
  background-image: url('../assets/img/ensaladaCesar.jpg');
  background-size: cover;
}

.image-left{
  /*float: left;*/ 
  margin-left: 1em; 
 
  
}
/*.text-margin-right{
  margin-left: 34em;
}*/
.action-margin-right{
  
  margin-left: 35em;
}

main {
  margin: 2em;
}

md-card-actions label {
  cursor: pointer;
}