<main fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutWrap>
  <md-card>
    <img src="assets/img/chef-register.svg">
    <h2>¡Únete a nosotros!</h2>
    <div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
        <div fxFlex>
          <md-input-container>
            <input mdInput placeholder="Nombre" required>
          </md-input-container>
        </div>
        <div fxFlex>
          <md-input-container>
            <input mdInput placeholder="Apellidos" required>
          </md-input-container>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
        <div fxFlex>
          <md-input-container>
            <input mdInput placeholder="E-mail" required>
          </md-input-container>
        </div>
        <div fxFlex>
          <md-input-container>
            <input mdInput placeholder="Nombre de usuario" required>
          </md-input-container>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box">
        <div fxFlex>
          <md-input-container>
            <input mdInput type="password" placeholder="Contraseña" required>
          </md-input-container>
        </div>
        <div fxFlex>
          <md-input-container>
            <input mdInput type="password" placeholder="Repetir contraseña" required>
          </md-input-container>
        </div>
      </div>
    </div>
    <div id="register-send">
      <button md-raised-button type="submit" (click)="onClick">Enviar</button>
    </div>
  </md-card>
</main>