main md-card {
  width: 40%;
  margin: auto;
}

main {
  margin: 2em;
}

main img {
  width: 60%;
  margin-left: auto;
  margin-right: 20%;
  display: block;
}

main md-card {
  margin-bottom: 1em;
}

md-card div#register-send {
  text-align: left;
}

md-card-actions label {
  cursor: pointer;
}

@media screen and (max-width: 979px) {
  main md-card {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  main md-card {
    width: 90%;
  }
}